<% @pets.each do |pet| %>
  <div class="row">
    <div class="col-md-3">
      <h2><%= link_to pet.name, pet_path(pet.id) %></h2>
      <ul class="list-unstyled">
        <li><strong>Espécie: </strong><%= pet.species %></li>
        <li><strong>Raça: </strong><%= pet.breed %></li>
        <li><strong>Gênero: </strong><%= pet.gender %></li>
        <li><strong>Nascimento: </strong><%= pet.birth_date.strftime("%d/%m/%Y") %></li>
        <% @vaccinations.each do | vaccination | %>
          <% if vaccination.to_expire? %>
            <li><strong><%= "Vacina #{vaccination.vaccine.name} expira em #{vaccination.expiration_days} dias" %></strong></li>
          <% end %>
          <% if vaccination.expired? %>
            <li><strong><%= "Vacina #{vaccination.vaccine.name} expirou há #{vaccination.expired_days} dias" %></strong></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9">
      <%= image_tag pet.photo.url(:medium) %>
    </div>
  </div>
  <br>
<% end %>
