<div class="row">
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li><strong>Dono(a): </strong><%= @pet.owner %></li>
      <li><strong>Nome: </strong><%= @pet.name %></li>
      <li><strong>Espécie: </strong><%= @pet.species %></li>
      <li><strong>Raça: </strong><%= @pet.breed %></li>
      <li><strong>Gênero: </strong><%= @pet.gender %></li>
      <li><strong>Nascimento: </strong><%= @pet.birth_date.strftime("%d/%m/%Y") %></li>
      <li><strong>Endereço: </strong><%= @pet.address %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <%= image_tag @pet.photo.url(:medium) %>
  </div>
</div>
<br>

<%= simple_form_for [@pet, @vaccination] do |f|  %>
<div class="row">
  <div class="col-md-2">
    <%= f.input :name, label: 'Name', error: 'Campo obrigatório' %>
  </div>
  <div class="col-md-3">
    <%= f.input :vaccination_date, label: 'Data de vacinação', error: 'Campo obrigatório' %>
  </div>
  <div class="col-md-2">
    <%= f.input :expiration_date, label: 'Expiração', error: 'Campo obrigatório' %>
  </div>
  <div class="col-md-3">
    <%= f.input :veterinary, label: 'Veterinário', error: 'Campo obrigatório' %>
  </div>
  <br><div class="col-md-2">
    <%= f.submit 'Registrar vacinação', label: '', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de vacinação</th>
        <th>Data de revacinação</th>
        <th>Veterinário</th>
      </tr>
    </thead>
    <tbody>
    <% @pet.vaccinations.each do |vaccination| %>
      <tr>
        <td><%= vaccination.name %></td>
        <td><%= vaccination.vaccination_date %></td>
        <td><%= vaccination.expiration_date %></td>
        <td><%= vaccination.veterinary %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
