<div class="row">
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li><strong>Dono(a): </strong><%= @pet.owner %></li>
      <li><strong>Nome: </strong><%= @pet.name %></li>
      <li><strong>Espécie: </strong><%= @pet.species %></li>
      <li><strong>Raça: </strong><%= @pet.breed %></li>
      <li><strong>Gênero: </strong><%= @pet.gender %></li>
      <li><strong>Nascimento: </strong><%= @pet.birth_date.strftime("%d/%m/%Y") %></li>
      <li><strong>Endereço: </strong><%= @pet.address %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <%= image_tag @pet.photo.url(:medium) %>
  </div>
</div>
<br>

<% @pet.vaccinations.each do |vaccination| %>
<div class="row">
  <ul class="list-unstyled">
    <li><strong>Nome: </strong><%= vaccination.name %></li>
    <li><strong>Data de vacinação: </strong><%= vaccination.vaccination_date %></li>
    <li><strong>Data de revacinação: </strong><%= vaccination.expiration_date %></li>
    <li><strong>Veterinário: </strong><%= vaccination.veterinary %></li>
  </ul>
</div>
<br>
<% end %>

<%= simple_form_for [@pet, @vaccination] do |f|  %>
  <%= f.input :name, label: 'Name', error: 'Campo obrigatório' %>
  <%= f.input :vaccination_date, label: 'Data de vacinação', error: 'Campo obrigatório' %>
  <%= f.input :expiration_date, label: 'Expiração', error: 'Campo obrigatório' %>
  <%= f.input :veterinary, label: 'Veterinário', error: 'Campo obrigatório' %>
  <%= f.submit 'Registrar vacinação', label: '', class: 'btn btn-primary' %>
<% end %>
